* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: linear-gradient( 135deg, #eef5ff, #f8fbff, #edf4ff );
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #1976d2;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #edf2f7;
}
